@import "../dist/mixins";

.hero__body {
  position: relative;
  z-index: 4;
  padding: 0.5rem;
  overflow: hidden;
  .hero__hello {
    color: var(--primary);
    font-size: 1em;
    font-weight: 500;
  }

  .hero__title {
    font-size: 90px;
    line-height: 1;
    font-weight: 600;
    margin: 8px 0 16px;
    max-width: 640px;
    color: var(--muted-2);
    @include media-max(940px) {
      max-width: none;
      font-size: 60px;
    }
  }

  .hero__job {
    font-size: 0.75em;
    font-weight: 500;
  }
}

.hero__icons {
  & > img {
    --y: 20%;
    --x: 22%;
    @include media-min(768px) {
      --y: 26%;
      --x: 24%;
    }
    --width: 4em;
  }

  & > img {
    position: absolute;
    width: var(--width);
    transform: translateZ(0);
    transition: transform linear;
    transition-duration: 1s;
  }
}

.home__hero {
  min-height: 100vh;
  padding: 5rem 0 2rem 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: var(--color-bg-alt);
    opacity: 0.8;
    overflow: hidden;
  }
}

.skills__section {
  padding: 120px 0 90px;
}

.works__section {
  background-color: #e9e9e9;
}

.projects {
  & > * + * {
    margin-top: 32px;
  }

  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: border-color 0.3s;
    border: 1px solid #dbdbdb;

    &:hover {
      border-color: rgba(138, 105, 59, 0.534);
    }

    @include media-min(768px) {
      margin-top: 0 !important;
      margin-left: 32px;
      width: 40%;
      max-width: 450px;
      min-height: 100%;
    }
  }

  .project__image {
    border-radius: 4px;
    overflow: hidden;
    height: auto;
    flex: none;
    img {
      display: block;
      opacity: 1;
      transition: 0.5s;
      will-change: transform;
    }

    &:hover img {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }

  .project__body {
    padding: 40px 32px;
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .project__tags {
    font-weight: 600;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 12px;
  }

  .project__name {
    font-size: 24px;
    margin: 10px 0 20px;
    font-weight: 600;
    transition: color 0.3s;
    &:hover {
      color: var(--primary);
    }
  }

  .project__desc {
    margin-bottom: 50px;
    a:hover {
      color: var(--primary);
      text-decoration: underline;
    }
  }

  .project__action {
    margin-top: auto;
    justify-self: flex-end;

    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: var(--primary);
    font-size: 12px;
    line-height: 2;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 30px;
    border: 1px solid rgba(255, 197, 118, 0.75);
    border-radius: 2px 2px 2px 2px;
    transition: 0.3s;
    text-decoration: none !important;

    &:hover {
      color: #1f2235 !important;
      background-color: #ffc576;
    }
  }
}

.section__top-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--muted-1);
}

.service__logo {
  display: block;
  margin-bottom: 32px;
  width: auto;
  height: 42px;
  max-width: 100%;
}

.social__links {
  strong {
    display: block;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    color: var(--muted-2);
    margin-bottom: 5px;
    transition: color 0.3s;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary);
    transition: color 0.3s;
  }

  .icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: calc(50% - 25px);
    color: #1f2235;
    transition: color 0.3s;
  }
}
