@import "../dist/mixins";

.hero__body {
  position: relative;
  z-index: 4;
  padding: 0.5rem;
  overflow: hidden;
  .hero__hello {
    color: var(--primary);
    font-size: 1em;
    font-weight: 500;
  }

  .hero__title {
    font-size: 90px;
    line-height: 1;
    font-weight: 600;
    margin: 8px 0 16px;
    max-width: 640px;
    @include media-max(940px) {
      max-width: none;
      font-size: 60px;
    }
  }

  .hero__job {
    font-size: 0.75em;
    font-weight: 500;
  }
}

.hero__icons {
  & > img {
    --y: 20%;
    --x: 22%;
    @include media-min(768px) {
      --y: 26%;
      --x: 24%;
    }
    --width: 4em;
  }

  & > img {
    position: absolute;
    width: var(--width);
    transform: translateZ(0);
    transition: transform linear;
    transition-duration: 1s;
  }
}

.home__hero {
  min-height: 100vh;
  padding: 5rem 0 2rem 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: var(--color-bg-alt);
    opacity: 0.8;
    overflow: hidden;
  }
}
